## Unit 1 Lists and Tuples Quiz
* The objective of this quiz is for you to write code to create and manipulate lists and tuples.
* Lists example
* Create a nested list `l1` that has the value `[3, ['test', 4], ['howdy', [5, 6]]]`
    * Use indexing to extract the `y` in the list and print it out.
* Tuples example
* Convert the list `l1` to a tuple called `t1` and print it out.
    * Try to change the value 3 in `t1` to 7.
    * Try to change the 4 in the second element (index 1) of `t1` to the list `['Hi', "how are you?"]`
    * What do the results in the two cases of tuple manipulation imply?

In [1]:
# Write your code here for creating l1
l1 = [3, ['test', 4], ['howdy', [5, 6]]]
# Use indexing to extract the y in the list and print it out.
l1[2][0][4]

'y'

In [2]:
# Write the code here for converting l1 to t1
t1 = tuple(l1)
t1

(3, ['test', 4], ['howdy', [5, 6]])

In [3]:
# Write the code here to change the value 3 in t1 to 7
t2 = list(t1)
t2[0] = 7
t1 = tuple(t2)
t1

(7, ['test', 4], ['howdy', [5, 6]])

In [4]:
# Write the code here to change the 4 in t1 to ['H1', 'how are you']
t1[1][1] = ['Hi', "how are you?"]
t1

(7, ['test', ['Hi', 'how are you?']], ['howdy', [5, 6]])

What do the results in the two cases of tuple manipulation imply?

You can not manipulate tuples unless the element is a list, then you can manipulate that element using list indexing.