In [1]:
import pandas as pd

Here is a dictionary:

In [2]:
data = {
    "odds": [1, 3, 5, 7, 9, 11],
    "evens": [2, 4, 6, 8, 10, 12]
}

Create a Pandas DataFrame called `df` using those data.

In [3]:
df = pd.DataFrame(data)

Add the array below as a column called `primes` to the DataFrame.

In [4]:
primes = [2, 3, 5, 7, 11, 13]
df["primes"] = primes

Display the first 5 rows of `df`

In [5]:
df.head(5)

   odds  evens  primes
0     1      2       2
1     3      4       3
2     5      6       5
3     7      8       7
4     9     10      11