In [1]:
import pandas as pd

Read the `world_pop_incomes.csv` file in as a Pandas DataFrame called `df`

In [2]:
df = pd.read_csv("world_pop_incomes.csv")

Display the whole `df` DataFrame

In [3]:
df

,Income,1960,1970,1980,1990,2000,2010,2020
0,High income,7.801386e+08,8.732819e+08,9.576090e+08,1.027501e+09,1.102140e+09,1.180459e+09,1.241726e+09
1,Low income,1.357626e+08,1.741316e+08,2.250977e+08,2.887596e+08,3.825935e+08,5.108973e+08,6.670537e+08
2,Lower middle income,9.058328e+08,1.144755e+09,1.446430e+09,1.844476e+09,2.259880e+09,2.681991e+09,3.117226e+09
3,Middle income,2.107416e+09,2.631441e+09,3.244431e+09,3.957385e+09,4.635161e+09,5.249967e+09,5.883693e+09
4,Upper middle income,1.201583e+09,1.486686e+09,1.798002e+09,2.112909e+09,2.375281e+09,2.567976e+09,2.766468e+09

Print the column names

In [4]:
print(df.columns)

Index(['Income', '1960', '1970', '1980', '1990', '2000', '2010', '2020'], dtype='object')

Display the data from the `2000` column

In [5]:
df["2000"]

0    1.102140e+09
1    3.825935e+08
2    2.259880e+09
3    4.635161e+09
4    2.375281e+09
Name: 2000, dtype: float64

Display the data from the row where `Income` is `Middle income`

In [8]:
df.loc[df['Income'] == "Middle income"]

,Income,1960,1970,1980,1990,2000,2010,2020
3,Middle income,2.107416e+09,2.631441e+09,3.244431e+09,3.957385e+09,4.635161e+09,5.249967e+09,5.883693e+09

Set the index to the `Income` column

In [7]:
df.set_index("Income")

,1960,1970,1980,1990,2000,2010,2020
Income,,,,,,,
High income,7.801386e+08,8.732819e+08,9.576090e+08,1.027501e+09,1.102140e+09,1.180459e+09,1.241726e+09
Low income,1.357626e+08,1.741316e+08,2.250977e+08,2.887596e+08,3.825935e+08,5.108973e+08,6.670537e+08
Lower middle income,9.058328e+08,1.144755e+09,1.446430e+09,1.844476e+09,2.259880e+09,2.681991e+09,3.117226e+09
Middle income,2.107416e+09,2.631441e+09,3.244431e+09,3.957385e+09,4.635161e+09,5.249967e+09,5.883693e+09
Upper middle income,1.201583e+09,1.486686e+09,1.798002e+09,2.112909e+09,2.375281e+09,2.567976e+09,2.766468e+09